[Unit]
Description=Local Camera Server
After=network.target

[Service]
ExecStart=/home/josh/chimera-deploy/local/local_start_camera_server.sh
WorkingDirectory=/home/josh/chimera-deploy/local
User=josh
Group=josh
Restart=always
RestartSec=5
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
