[Unit]
Description=Local Camera Server
After=network.target

[Service]
ExecStart=/home/js/chimera-deploy/local/local_start_camera_server.sh
WorkingDirectory=/home/js/chimera-deploy/local
User=js
Group=js
Restart=always
RestartSec=5
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
