[Unit]
Description=Local Camera Server
After=network.target

[Service]
ExecStart=%h/chimera-deploy/local/local_start_camera_server.sh
WorkingDirectory=%h/chimera-deploy/local
User=%u
Group=%g
Restart=always
RestartSec=5
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
