[submodule "rtw88"]
	path = rtw88
	url = https://github.com/lwfinger/rtw88
[submodule "EchoTherm-Daemon"]
	path = EchoTherm-Daemon
	url = https://github.com/EchoMAV/EchoTherm-Daemon.git
[submodule "Camera_Modules"]
	path = Camera_Modules
	url = git@github.com:EchoMAV/Camera_Modules.git
[submodule "echopilot_deploy"]
	path = echopilot_deploy
	url = https://github.com/echomav/echopilot_deploy.git
