[Unit]
Description=Remote Camera Server
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/user/chimera-deploy/remote/forked_rtsp_server.py
WorkingDirectory=/home/user/chimera-deploy/remote
User=user
Group=user
Restart=always
RestartSec=5
Environment="PYTHONUNBUFFERED=1"

[Install]
WantedBy=multi-user.target
